        </div>
        </div>
        </div>
        </section>
        </div>
        <section class="container-fluid footer mt-auto">


          <div class="container-fluid">
            <div class="f1 float-start">
              Designed & developed by <a class="link"
                href="https://www.linkedin.com/in/janith-ravisanka-b4611220a/">www.teamMora21.com</a>
            </div>
            <div class="hstack gap-3 float-end d pt-3 f2">
              <div class="ms-auto">Nanotek Computer Solutions©2022</div>
              <div class="vr vrx"></div>
              <div>Find Us on <img src="/images/facebook.svg" style="height: 25px;"></div>
            </div>
          </div>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
        </script>
        <script src="https://kit.fontawesome.com/7a4a0e8df4.js" crossorigin="anonymous"></script>
        <script src="js/main.js"></script>
        <script src="js/home.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        </body>

        </html>