<!-- janith -->

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="css/style.css">
  <link type="text/css" rel="stylesheet" href="css/mstyles.css">
  <link type="text/css" rel="stylesheet" href="css/sstyles.css">
</head>

<body>

  <div class="body">
    <div class="container-fluid text-center call2">
      <span class="align-middle">
        Call us -<span class="num2 ps-1">+94 777 292 272</span>
      </span>
      
    </div>
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid pleft">

        <img id="logo" src="/images/logoWhite.png" class="mb-auto">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>




        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-auto mt-3">
            <li class="nav-item pe-3">
              <a class="nav-link navbar-text ps-lg-5 pe-4 " href="/about">
                <span class="navx">About</span>
              </a>
            </li>
            <li class="nav-item pe-3">
              <a class="nav-link active navbar-text " aria-current="page" href="/services">
                <span class="navx">Services</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link navbar-text mb-auto" href="/contact">
                <span class="navx">Contact</span>
              </a>
            </li>
            <li class="nav-item ps-5">
              <a class="nav-link navbar-text mb-auto">
                <button class="btn btn-primary d-lg-none togbutton" style="padding-left: 10px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">Categories</button>
              </a>
            </li>
            <li class="nav-item certificate">
              <a href="https://www.vote.bestweb.lk/site/www_nanotek_lk/"><img src="/images/vote4us.png"
                height="160px"></a>
            </li>

          </ul>



          

          


          <form class="d-flex ms-auto mb-auto mt-3" role="search">
            <div class="call1">
              <div  class="mt-0 d-inline">
                <svg style="width:25px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                  
                  <path fill="#ffff"
                    d="M304 0h-224c-35.35 0-64 28.65-64 64v384c0 35.35 28.65 64 64 64h224c35.35 0 64-28.65 64-64V64C368 28.65 339.3 0 304 0zM192 480c-17.75 0-32-14.25-32-32s14.25-32 32-32s32 14.25 32 32S209.8 480 192 480zM304 64v320h-224V64H304z" />
                  </svg>
              </div>
              <div style="width:150px;color:white;font-weight:700;font-size:17px" class="pt-1 d-inline">
                <a class="call1" href="tel:++94777292272">+94 777 292 272</a>
              </div>
            </div>

            <button class="build">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <div style="height: 40px;width:40px;background-color:rgb(231, 144, 31);"
                      class="container build-contain">
                      <img src="/images/quoteIcon.svg" class="build-img ">
                    </div>
                  </div>
                  <div class="col">
                    <div class="total text-light">
                      <div style="font-size: 25px;font-weight:500;text-align:left;color:rgb(231, 144, 31)">0 LKR</div>
                      <div style="font-size: 14px;font-weight:100;text-align:left;color:rgb(201, 199, 197)">Build Your
                        PC</div>
                    </div>
                  </div>
                </div>
              </div>


            </button>
            <button class="search">
              <img src="/images/search.svg" alt="" srcset="">
            </button>
          </form>
        </div>
      </div>
    </nav>
    <li class="nav-item certificate2 pb-5">
      <a href="https://www.vote.bestweb.lk/site/www_nanotek_lk/"><img src="/images/vote4us.png"
        height="160px"></a>
    </li>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-2 xx ">

            <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">Responsive offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body" style=" flex-direction: column;">
                <p class="mb-0">
                  <div class="card mb-1 category" >
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname">Asus Rog</h5>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="card mb-1 category" >
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/ASUS_Black.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname">POWERED BY ASUS</h5>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="card mb-1 category" >
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/apple.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname">APPLE PRODUCTS</h5>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="card mb-1 category">
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/console.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname my-auto">CONSOLE GAMING</h5>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="card mb-1 category">
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/lpIcon.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname my-auto">LAPTOPS</h5>
                        </div>
                      </div>
                    </div>
                  </div>
      
      
                  <div class="card mb-1 category">
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/pcicon.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname my-auto">DESKTOP WORKSTATIONS</h5>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="card mb-1 category" >
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/desktop.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname my-auto">GAMING DESKTOPS</h5>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="card mb-1 category" >
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/pc.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname my-auto">BUDGET DESKTOP COMPUTERS</h5>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="card mb-1 category" >
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/prossesor.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname my-auto">PROCESSORS</h5>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="card mb-1 category" >
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/gatab.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname my-auto">GRAPHICS TABLET/TAB</h5>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="card mb-1 category" >
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/mbicon.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname my-auto">MOTHERBOARDS</h5>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="card mb-1 category" >
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/ramicon.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname my-auto">MEMORY(RAM)</h5>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="card mb-1 category" >
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/vgaicon.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname my-auto">GRAPHIC CARDS</h5>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="card mb-1 category" >
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/pwIcon.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname my-auto">POWER SUPPLY,UPS & SURGE PROTECTORS</h5>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="card mb-1 category" >
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/coolersicon.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname my-auto">COOLING AND LIGHTNING</h5>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="card mb-1 category" >
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/storageIcon.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname my-auto">STORAGE</h5>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="card mb-1 category" >
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/casingIcon.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname my-auto">CASING</h5>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="card mb-1 category" >
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/odIcon.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname my-auto">OPTICAL DRIVES</h5>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="card mb-1 category" >
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/moniterIcon.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname my-auto">MONITORS</h5>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="card mb-1 category" >
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/shIcon.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname my-auto">SPEAKERS & HEADPHONES</h5>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="card mb-1 category" >
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/keyboard.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname my-auto">KEYBOARDS, MICE & GAMEPADS</h5>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="card mb-1 category" >
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/chair.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname my-auto">GAMING CHAIRS</h5>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="card mb-1 category" >
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/cable.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname my-auto">CABLES & CONNECTIONS</h5>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="card mb-1 category" >
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/usb.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname my-auto">EXTERNAL STORAGE</h5>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="card mb-1 category" >
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/live.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname my-auto">LIVE STREAMING & RECORDING</h5>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="card mb-1 category" >
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/netCardIcon.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname my-auto">EXPANSION CARDS & NETWORKING</h5>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="card mb-1 category" >
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/vouchericon.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname my-auto">GIFT VOUCHER</h5>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="card mb-1 category" >
                    <div class="row g-0">
                      <div class="col-4">
                        <img src="/images/catogory/AsusLogo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="...">
                      </div>
                      <div class="col-8">
                        <div class="card-body">
                          <h5 class="card-title cname my-auto">COMMERCIAL SOLUTIONS</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </p>
              </div>
            </div>






            
            
            

          </div>
          <div class="col-xl-10 no-pad xxx">