<!-- janith -->

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PAB</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon/OIP.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="/css/style.css">

  <script src="socket.io/socket.io.js"></script>


  <!--  Google Charts-->

  <script src="https://www.gstatic.com/charts/loader.js"></script>


  
</head>

<body>

  <div class="body">
    <div class="bodyx"></div>
    <div class="bodybg"></div>

    <div class="container-fluid text-center call2">
      <span class="align-middle">
        Call us -<span class="num2 ps-1">+94 777 292 272</span>
      </span>
      
    </div>
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid pleft">
        <a href="/" class="mb-auto">
          <img id="logo" src="/images/OIP.png" class="mb-auto">

        </a>


        <button style="background-color: #ff9400;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>




        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-auto mt-3">
            <li class="nav-item pe-3">
              <a class="ps-lg-3 pe-4 brand-name" href="/">
                <span class="navx navTitle" style="font-size: 25px">Patient Assisting Bed</span>
              </a>
            </li>
            <li class="nav-item pe-3">
              <a class="nav-link navbar-text ps-lg-5 pe-4 " href="/">
                <span class="navx">Home</span>
              </a>
            </li>

            <li class="nav-item " style="position:relative;bottom: 10px">
              <a class="nav-link navbar-text mb-auto ">
                <span class="navx" style="padding-left: 10px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">Patients</span>
              </a>
            </li>


          </ul>

        </div>
      </div>
    </nav>


    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-2 xx ">

            <div class="offcanvas offcanvas-start offcanvasx" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasResponsiveLabel" style="color:#8d8d8d;">Patient List</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body" style=" flex-direction: column;">
                <p class="mb-0">
                  <div class="card mb-1 category" >
                    <a href="/patient/Janith" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                        <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname">Janith</h5>
                          </div>
                        </div>
                      </div>
                    </a>
                    
                  </div>
      
                  <div class="card mb-1 category" >
                    <a href="/PBA" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                        <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname">Patient-2</h5>
                          </div>
                        </div>
                      </div>
                    </a>
                    
                  </div>
      
                  <div class="card mb-1 category" >
                    <a href="/apple" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                        <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname">Patient-3</h5>
                          </div>
                        </div>
                      </div>
                    </a>

                  </div>
      
                  <div class="card mb-1 category">
                    <a href="/console" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                        <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname my-auto">Patient-4</h5>
                          </div>
                        </div>
                      </div>
                    </a>

                  </div>
      
                  <div class="card mb-1 category">
                    <a href="/LAPTOPS" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                        <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname my-auto">Patient-5</h5>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
      
      
                  <div class="card mb-1 category">
                    <a href="/workstations" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                        <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname my-auto">Patient-6</h5>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
      
                  <div class="card mb-1 category" >
                    <a href="/GAMING DESKTOPS" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                        <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname my-auto">Patient-7</h5>
                          </div>
                        </div>
                      </div>
                    </a>

                  </div>
      
                  <div class="card mb-1 category" >
                    <a href="/bpc" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                        <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname my-auto">Patient-8</h5>
                          </div>
                        </div>
                      </div>
                    </a>

                  </div>
      
                  <div class="card mb-1 category" >
                    <a href="/PROCESSORS" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                        <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname my-auto">Patient-9</h5>
                          </div>
                        </div>
                      </div>
                    </a>

                  </div>
      
                  <div class="card mb-1 category" >
                    <a href="/GRAPHICS TABLET" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                        <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname my-auto">Patient-10</h5>
                          </div>
                        </div>
                      </div>
                    </a>

                  </div>
      
                  <div class="card mb-1 category" >
                    <a href="/MOTHERBOARDS" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                        <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname my-auto">Patient-11</h5>
                          </div>
                        </div>
                      </div>
                    </a>

                  </div>
      
                  <div class="card mb-1 category" >
                    <a href="/MEMORY(RAM)" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                        <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname my-auto">Patient-12</h5>
                          </div>
                        </div>
                      </div>
                    </a>

                  </div>
      
                  <div class="card mb-1 category" >
                    <a href="/GRAPHIC CARDS" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                        <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname my-auto">Patient-13</h5>
                          </div>
                        </div>
                      </div>
                    </a>

                  </div>
      
                  <div class="card mb-1 category" >
                    <a href="/POWER SUPPLY,UPS & SURGE PROTECTORS" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                        <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname my-auto">Patient-13</h5>
                          </div>
                        </div>
                      </div>
                    </a>

                  </div>
      
                  <div class="card mb-1 category" >
                    <a href="/COOLING AND LIGHTNING" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                        <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname my-auto">Patient-14</h5>
                          </div>
                        </div>
                      </div>
                    </a>

                  </div>
      
                  <div class="card mb-1 category" >
                    <a href="/STORAGE" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                        <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname my-auto">Patient-15</h5>
                          </div>
                        </div>
                      </div>
                    </a>

                  </div>
      
                  <div class="card mb-1 category" >
                    <a href="/CASING" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                        <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname my-auto">Patient-16</h5>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
      
                  <div class="card mb-1 category" >
                    <a href="/OPTICAL DRIVES" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                        <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname my-auto">Patient-17</h5>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
      
                  <div class="card mb-1 category" >
                    <a href="/MONITORS" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                        <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname my-auto">Patient-18</h5>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
      
                  <div class="card mb-1 category" >
                    <a href="/SPEAKERS & HEADPHONES" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                        <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname my-auto">Patient-19</h5>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
      
                  <div class="card mb-1 category" >
                    <a href="/KEYBOARDS, MICE & GAMEPADS" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                        <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname my-auto">Patient-20</h5>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
      
                  <div class="card mb-1 category" >
                    <a href="/GAMING CHAIRS" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                          <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname my-auto">Patient-21</h5>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
      
                  <div class="card mb-1 category" >
                    <a href="/CABLES & CONNECTIONS" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                        <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname my-auto">Patient-22</h5>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
      
                  <div class="card mb-1 category" >
                    <a href="/EXTERNAL STORAGE" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                        <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname my-auto">Patient-23</h5>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
      
                  <div class="card mb-1 category" >
                    <a href="/LIVE STREAMING & RECORDING" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                        <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname my-auto">Patient-24</h5>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
      
                  <div class="card mb-1 category" >
                    <a href="/EXPANSION CARDS & NETWORKING" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                        <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname my-auto">Patient-25</h5>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
      
                  <div class="card mb-1 category" >
                    <a href="/GIFT VOUCHER" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                        <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname my-auto">Patient-26</h5>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
      
                  <div class="card mb-1 category" >
                    <a href="/COMMERCIAL SOLUTIONS" style="font-size: inherit;color:inherit;text-decoration:none">
                      <div class="row g-0">
                        <div class="col-4 ps-3 pt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
<!--                          <img src="/images/catogory/asus-logo.png" class="img-fluid rounded-start d-block ms-auto mt-2 cat-image" alt="asus-logo">-->
                        </div>
                        <div class="col-8">
                          <div class="card-body">
                            <h5 class="card-title cname my-auto">Patient-27</h5>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-10 no-pad xxx ps-4">