<%-include("header") -%> 

<div id="carouselExampleIndicators" class="carousel slide gg" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Slide 12"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="12" aria-label="Slide 13"></button>

  </div>
  <div class="carousel-inner">
    <div class="carousel-item active ci">
      <div class="container">
          <div class="row">
              <div class="col-sm-7 ps-5"><h1><b>EXPERIENCE THE PERFECT TOKEN OF APPRECIATION</b></h1><br><h4>Choose a gift voucher and make your friends and family the owner of anything</h4></div>
              <div class="col-sm-5"><img class="slider"src="/images/vouchers.png"></div>
            </div>
            </div>
    </div>
    <div class="carousel-item ci">
      <div class="container">
          <div class="row">
              <div class="col-sm-7 ps-5"><h1><b>ISLAND WIDE<br>DELIVERY<br>AVAILABLE</b></h1><br><h4>Please select an "In Stock" product and WhatsApp your requirement to 0777 292 272</h4></div>
              <div class="col-sm-5"><img class="slider"src="/images/Delivery-man.png"></div>
            </div>
            </div>
    </div>
    <div class="carousel-item ci">
      <div class="container">
          <div class="row">
              <div class="col-sm-7 ps-5"><h1><b>ASUS Z690<br>SERIES<br>MOTHERBOARDS</b></h1><br><h4>Break All Limits</h4></div>
              <div class="col-sm-5"><img class="slider"src="/images/Nano Z690.png"></div>
            </div>
            </div>
    </div>

    <div class="carousel-item ci">
      <div class="container">
          <div class="row">
              <div class="col-sm-7 ps-5"><h1><b>ASUS ROG<br>RTX 30 SERIES<br>GRAPHIC<br>CARDS</b></h1><br><h4>Buffed-up design with chart-topping thermal performance</h4></div>
              <div class="col-sm-5"><img class="slider"src="/images/64-RTX 30.png"></div>
            </div>
            </div>
    </div>

    <div class="carousel-item ci">
      <div class="container">
          <div class="row">
              <div class="col-sm-7 ps-5"><h1><b>ASUS B550<br>SERIES<br>MOTHERBOARDS</b></h1><br><h4>Rise Above the Battlefield</h4></div>
              <div class="col-sm-5"><img class="slider"src="/images/B550 Motherboard.png"></div>
            </div>
            </div>
    </div>

    <div class="carousel-item ci">
      <div class="container">
          <div class="row">
              <div class="col-sm-7 ps-5"><h1><b>ROG STRIX<br>XG49VQ</b></h1><br><h4>Super Ultra-Wide HDR Gaming Monitor</h4></div>
              <div class="col-sm-5"><img class="slider"src="/images/Nano XG49VQ.png"></div>
            </div>
            </div>
    </div>

    <div class="carousel-item ci">
      <div class="container">
          <div class="row">
              <div class="col-sm-7 ps-5"><h1><b>ROG<br>CLAYMORE II</b></h1><br><h4>Gaming Mechanical keyboard with ROG RX Optical Mechanical Switches,detachable numpad & wrist rest</h4></div>
              <div class="col-sm-5"><img class="slider"src="/images/Nano Claymore.png"></div>
            </div>
            </div>
    </div>

    <div class="carousel-item ci">
      <div class="container">
          <div class="row">
              <div class="col-sm-7 ps-5"><h1><b>ROG GAMING<br>PERIPHERALS</b></h1><br><h4>Made For Elite gamers</h4></div>
              <div class="col-sm-5"><img class="slider"src="/images/Nano Gaming.png"></div>
            </div>
            </div>
    </div>


    <div class="carousel-item ci">
      <div class="container">
          <div class="row">
              <div class="col-sm-7 ps-5"><h1><b>ASUS ROG<br>ZEPHYRUS<br>DUO 15 SE<br>GX551</b></h1><br><h4>TWO SCREENS.ZERO LIMITS.</h4></div>
              <div class="col-sm-5"><img class="slider"src="/images/ROG Zephyrus Duo.png"></div>
            </div>
            </div>
    </div>

    <div class="carousel-item ci">
      <div class="container">
          <div class="row">
              <div class="col-sm-7 ps-5"><h1><b>ASUS<br>ZENBOOK<br>PRO DUO<br>UX582</b></h1><br><h4>ZenBook Pro Duo 15 OLED lets you get things done in style</h4></div>
              <div class="col-sm-5"><img class="slider"src="/images/ZenBook Pro.png"></div>
            </div>
            </div>
    </div>

    <div class="carousel-item ci">
      <div class="container">
          <div class="row">
              <div class="col-sm-7 ps-5"><h1><b>ASUS ROG<br>FLOW X13<br>RYZEN 9 RTX<br>3050</b></h1><br><h4>gaming has never been as flexible or portable as in the 2-in-1 ROG FLOW X13</h4></div>
              <div class="col-sm-5"><img class="slider"src="/images/FLOW X13.png"></div>
            </div>
            </div>
    </div>

         
<div class="carousel-item ci">
  <div class="container">
      <div class="row">
          <div class="col-sm-7 ps-5"><h1><b>WE ACCEPT KOKO !</b></h1><br><h4>Buy Now,Pay Later in 3 Instalments</h4></div>
          <div class="col-sm-5"><img class="slider"src="/images/64-RTX 30.png"></div>
        </div>
        </div>
</div>

     
<div class="carousel-item ci">
  <div class="container">
      <div class="row">
          <div class="col-sm-7 ps-5 ps-5"><h1><b>EPEIOS<br>PC253A<br>WIRELESS<br>MOUSE</b></h1><br><h4>Up to 3 units can be connected at the same time</h4></div>
          <div class="col-sm-5"><img class="slider"src="/images/MOUSE.png"></div>
        </div>
        </div>
</div>

    

  </div>
  <button class="carousel-control-prev justify-content-start" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next justify-content-end" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br>

<!-- <nav class="important">
  <ul>
      <li>
  <a href="#" class="hover-underline-animation">
    SPECIAL OFFERS
  </a> </li>
  <li>
      <a href="#" class="hover-underline-animation">
          NEW ARRIVALS
        </a>

  </li>
</nav>



  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card" style="width: 18rem;">
<img src="/images/home page cards/Nano XE Neo.png" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="Nano XE Neo Gaming 11th Gen">Card title</h5>
  <p class="card-text">-Gaming Desktops-</p>
</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item"><h4>492,000LKR</h4></li>
 
</ul>

</div> -->
<!-- </div>
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div> -->
<!-- 
<div id="new-arrivals" class="tabcontent">
  <h1>NEW ARRIVALS</h1>
  <p>Paris is the capital of France.</p>
</div>


<div class="part1">
  <div class="column"> <img class="details" src="/images/home page cards/warrentyIcon.svg"><br>
      <h4>WARRANTY<br>ASSURED</h4>
      <p>In case of faculty products,we have an upstanding warranty and claim procedures to make sure that your requirements are met in minimum time loss as possible.</p></div>
      
  <div class="column"> <img class="details" src="/images/home page cards/customOrdersIcon.svg">
      <h4>CUSTOM ORDERS</h4>
      <P>In case your requirements supersedes what the local market has to offer,we will provide you with assistance to meet these requirements.</P></div>
  <div class="column"><img class="details" src="/images/home page cards/hDeliveryIcon.svg">
      <h4>HOME DELIVERY</h4>
      <p>To further facilitate your access to your needs,we offer to deliver to meet your requirements straight to where you live within Srilankan borders.</p></div>
</div> -->

<div class="container offersContainer">
  <div class="row">
    <div class="col-lg-6 ms-auto offer">
      SPECIAL OFFERS 
      <svg  version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="30px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
        <path fill="#ff9400" class="path1"  d="M66.659,50.176c-2.659,0-3.956,4.33-3.956,11.846c-0.088,7.714,1.209,11.934,3.956,11.934
          s3.758-4.417,3.758-11.846C70.418,55.143,69.604,50.176,66.659,50.176z M66.659,50.176c-2.659,0-3.956,4.33-3.956,11.846
          c-0.088,7.714,1.209,11.934,3.956,11.934s3.758-4.417,3.758-11.846C70.418,55.143,69.604,50.176,66.659,50.176z M0,0v100h100V0H0z
           M21.495,37.978c0-9.736,4.33-18.549,12.132-18.549c8.901,0,11.736,9.824,11.736,18.088c0,12.659-5.78,18.549-11.846,18.549
          C25.165,56.066,21.495,46.967,21.495,37.978z M30.769,80.571l32.132-61.143h6.242L37.099,80.571H30.769z M66.659,80.374
          c-8.352,0-12.022-9.165-12.022-18.066c0-9.648,4.308-18.461,12.11-18.461c8.901,0,11.758,9.824,11.758,18
          C78.506,74.505,72.725,80.374,66.659,80.374z M66.659,50.176c-2.659,0-3.956,4.33-3.956,11.846
          c-0.088,7.714,1.209,11.934,3.956,11.934s3.758-4.417,3.758-11.846C70.418,55.143,69.604,50.176,66.659,50.176z M37.297,37.802
          c0-6.989-0.835-12.044-3.78-12.044c-2.659,0-3.934,4.418-3.934,11.934c-0.088,7.714,1.099,11.934,3.934,11.934
          C36.374,49.626,37.297,45.231,37.297,37.802z"></path>
        </svg>
        <div class="hrhome hr1 me-4">
          <hr style="border-width:1px;border-color:#ff9400;border-style:solid">
        </div>
    </div>
    <div class="col-lg-6 new">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="30px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
        <path class="path2"  d="M0,0v100h100V0H0z M71.934,81.56L50,70.022L28.066,81.56l4.198-24.418L14.506,39.824l24.527-3.56
          L50,14.044l10.967,22.22l24.528,3.56L67.736,57.143L71.934,81.56z"></path>
        </svg>
      NEW ARRIVALS
      <div class="hrhome hr2 me-4 d-none">
        <hr style="border-width:1px;border-color:#ff9400;border-style:solid">
      </div>   
    </div>
  </div>
</div>



<%- include("footer") -%>
