<%-include("header") -%> 

<!--<div id="carouselExampleIndicators" class="carousel slide gg" data-bs-ride="true">-->
<!--  <div class="carousel-indicators">-->
<!--    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>-->
<!--    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>-->
<!--    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
<!--    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>-->
<!--    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>-->
<!--    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>-->
<!--    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>-->
<!--    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>-->
<!--    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>-->
<!--    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>-->
<!--    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11"></button>-->
<!--    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Slide 12"></button>-->
<!--    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="12" aria-label="Slide 13"></button>-->

<!--  </div>-->
<!--  <div class="carousel-inner">-->
<!--    <div class="carousel-item active ci">-->
<!--      <div class="container">-->
<!--          <div class="row">-->
<!--              <div class="col-sm-7 ps-5"><h1><b>EXPERIENCE THE PERFECT TOKEN OF APPRECIATION</b></h1><br><h4>Choose a gift voucher and make your friends and family the owner of anything</h4></div>-->
<!--              <div class="col-sm-5"><img class="slider"src="/images/vouchers.png"></div>-->
<!--            </div>-->
<!--            </div>-->
<!--    </div>-->
<!--    <div class="carousel-item ci">-->
<!--      <div class="container">-->
<!--          <div class="row">-->
<!--              <div class="col-sm-7 ps-5"><h1><b>ISLAND WIDE<br>DELIVERY<br>AVAILABLE</b></h1><br><h4>Please select an "In Stock" product and WhatsApp your requirement to 0777 292 272</h4></div>-->
<!--              <div class="col-sm-5"><img class="slider"src="/images/Delivery-man.png"></div>-->
<!--            </div>-->
<!--            </div>-->
<!--    </div>-->
<!--    <div class="carousel-item ci">-->
<!--      <div class="container">-->
<!--          <div class="row">-->
<!--              <div class="col-sm-7 ps-5"><h1><b>ASUS Z690<br>SERIES<br>MOTHERBOARDS</b></h1><br><h4>Break All Limits</h4></div>-->
<!--              <div class="col-sm-5"><img class="slider"src="/images/Nano Z690.png"></div>-->
<!--            </div>-->
<!--            </div>-->
<!--    </div>-->

<!--    <div class="carousel-item ci">-->
<!--      <div class="container">-->
<!--          <div class="row">-->
<!--              <div class="col-sm-7 ps-5"><h1><b>ASUS ROG<br>RTX 30 SERIES<br>GRAPHIC<br>CARDS</b></h1><br><h4>Buffed-up design with chart-topping thermal performance</h4></div>-->
<!--              <div class="col-sm-5"><img class="slider"src="/images/64-RTX 30.png"></div>-->
<!--            </div>-->
<!--            </div>-->
<!--    </div>-->

<!--    <div class="carousel-item ci">-->
<!--      <div class="container">-->
<!--          <div class="row">-->
<!--              <div class="col-sm-7 ps-5"><h1><b>ASUS B550<br>SERIES<br>MOTHERBOARDS</b></h1><br><h4>Rise Above the Battlefield</h4></div>-->
<!--              <div class="col-sm-5"><img class="slider"src="/images/B550 Motherboard.png"></div>-->
<!--            </div>-->
<!--            </div>-->
<!--    </div>-->

<!--    <div class="carousel-item ci">-->
<!--      <div class="container">-->
<!--          <div class="row">-->
<!--              <div class="col-sm-7 ps-5"><h1><b>ROG STRIX<br>XG49VQ</b></h1><br><h4>Super Ultra-Wide HDR Gaming Monitor</h4></div>-->
<!--              <div class="col-sm-5"><img class="slider"src="/images/Nano XG49VQ.png"></div>-->
<!--            </div>-->
<!--            </div>-->
<!--    </div>-->

<!--    <div class="carousel-item ci">-->
<!--      <div class="container">-->
<!--          <div class="row">-->
<!--              <div class="col-sm-7 ps-5"><h1><b>ROG<br>CLAYMORE II</b></h1><br><h4>Gaming Mechanical keyboard with ROG RX Optical Mechanical Switches,detachable numpad & wrist rest</h4></div>-->
<!--              <div class="col-sm-5"><img class="slider"src="/images/Nano Claymore.png"></div>-->
<!--            </div>-->
<!--            </div>-->
<!--    </div>-->

<!--    <div class="carousel-item ci">-->
<!--      <div class="container">-->
<!--          <div class="row">-->
<!--              <div class="col-sm-7 ps-5"><h1><b>ROG GAMING<br>PERIPHERALS</b></h1><br><h4>Made For Elite gamers</h4></div>-->
<!--              <div class="col-sm-5"><img class="slider"src="/images/Nano Gaming.png"></div>-->
<!--            </div>-->
<!--            </div>-->
<!--    </div>-->


<!--    <div class="carousel-item ci">-->
<!--      <div class="container">-->
<!--          <div class="row">-->
<!--              <div class="col-sm-7 ps-5"><h1><b>ASUS ROG<br>ZEPHYRUS<br>DUO 15 SE<br>GX551</b></h1><br><h4>TWO SCREENS.ZERO LIMITS.</h4></div>-->
<!--              <div class="col-sm-5"><img class="slider"src="/images/ROG Zephyrus Duo.png"></div>-->
<!--            </div>-->
<!--            </div>-->
<!--    </div>-->

<!--    <div class="carousel-item ci">-->
<!--      <div class="container">-->
<!--          <div class="row">-->
<!--              <div class="col-sm-7 ps-5"><h1><b>ASUS<br>ZENBOOK<br>PRO DUO<br>UX582</b></h1><br><h4>ZenBook Pro Duo 15 OLED lets you get things done in style</h4></div>-->
<!--              <div class="col-sm-5"><img class="slider"src="/images/ZenBook Pro.png"></div>-->
<!--            </div>-->
<!--            </div>-->
<!--    </div>-->

<!--    <div class="carousel-item ci">-->
<!--      <div class="container">-->
<!--          <div class="row">-->
<!--              <div class="col-sm-7 ps-5"><h1><b>ASUS ROG<br>FLOW X13<br>RYZEN 9 RTX<br>3050</b></h1><br><h4>gaming has never been as flexible or portable as in the 2-in-1 ROG FLOW X13</h4></div>-->
<!--              <div class="col-sm-5"><img class="slider"src="/images/FLOW X13.png"></div>-->
<!--            </div>-->
<!--            </div>-->
<!--    </div>-->

<!--         -->
<!--<div class="carousel-item ci">-->
<!--  <div class="container">-->
<!--      <div class="row">-->
<!--          <div class="col-sm-7 ps-5"><h1><b>WE ACCEPT KOKO !</b></h1><br><h4>Buy Now,Pay Later in 3 Instalments</h4></div>-->
<!--          <div class="col-sm-5"><img class="slider"src="/images/64-RTX 30.png"></div>-->
<!--        </div>-->
<!--        </div>-->
<!--</div>-->

<!--     -->
<!--<div class="carousel-item ci">-->
<!--  <div class="container">-->
<!--      <div class="row">-->
<!--          <div class="col-sm-7 ps-5 ps-5"><h1><b>EPEIOS<br>PC253A<br>WIRELESS<br>MOUSE</b></h1><br><h4>Up to 3 units can be connected at the same time</h4></div>-->
<!--          <div class="col-sm-5"><img class="slider"src="/images/MOUSE.png"></div>-->
<!--        </div>-->
<!--        </div>-->
<!--</div>-->

<!--    -->

<!--  </div>-->
<!--  <button class="carousel-control-prev justify-content-start" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">-->
<!--    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--    <span class="visually-hidden">Previous</span>-->
<!--  </button>-->
<!--  <button class="carousel-control-next justify-content-end" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">-->
<!--    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--    <span class="visually-hidden">Next</span>-->
<!--  </button>-->
<!--</div>-->

<!--<br>-->

<!-- <nav class="important">
  <ul>
      <li>
  <a href="#" class="hover-underline-animation">
    SPECIAL OFFERS
  </a> </li>
  <li>
      <a href="#" class="hover-underline-animation">
          NEW ARRIVALS
        </a>

  </li>
</nav>



  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card" style="width: 18rem;">
<img src="/images/home page cards/Nano XE Neo.png" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="Nano XE Neo Gaming 11th Gen">Card title</h5>
  <p class="card-text">-Gaming Desktops-</p>
</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item"><h4>492,000LKR</h4></li>
 
</ul>

</div> -->
<!-- </div>
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div> -->
<!-- 
<div id="new-arrivals" class="tabcontent">
  <h1>NEW ARRIVALS</h1>
  <p>Paris is the capital of France.</p>
</div>


<div class="part1">
  <div class="column"> <img class="details" src="/images/home page cards/warrentyIcon.svg"><br>
      <h4>WARRANTY<br>ASSURED</h4>
      <p>In case of faculty products,we have an upstanding warranty and claim procedures to make sure that your requirements are met in minimum time loss as possible.</p></div>
      
  <div class="column"> <img class="details" src="/images/home page cards/customOrdersIcon.svg">
      <h4>CUSTOM ORDERS</h4>
      <P>In case your requirements supersedes what the local market has to offer,we will provide you with assistance to meet these requirements.</P></div>
  <div class="column"><img class="details" src="/images/home page cards/hDeliveryIcon.svg">
      <h4>HOME DELIVERY</h4>
      <p>To further facilitate your access to your needs,we offer to deliver to meet your requirements straight to where you live within Srilankan borders.</p></div>
</div> -->

<!--<div class="container offersContainer">-->
<!--  <div class="row">-->
<!--    <div class="col-lg-6 ms-auto offer">-->
<!--      SPECIAL OFFERS -->
<!--      <svg  version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="30px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">-->
<!--        <path fill="#ff9400" class="path1"  d="M66.659,50.176c-2.659,0-3.956,4.33-3.956,11.846c-0.088,7.714,1.209,11.934,3.956,11.934-->
<!--          s3.758-4.417,3.758-11.846C70.418,55.143,69.604,50.176,66.659,50.176z M66.659,50.176c-2.659,0-3.956,4.33-3.956,11.846-->
<!--          c-0.088,7.714,1.209,11.934,3.956,11.934s3.758-4.417,3.758-11.846C70.418,55.143,69.604,50.176,66.659,50.176z M0,0v100h100V0H0z-->
<!--           M21.495,37.978c0-9.736,4.33-18.549,12.132-18.549c8.901,0,11.736,9.824,11.736,18.088c0,12.659-5.78,18.549-11.846,18.549-->
<!--          C25.165,56.066,21.495,46.967,21.495,37.978z M30.769,80.571l32.132-61.143h6.242L37.099,80.571H30.769z M66.659,80.374-->
<!--          c-8.352,0-12.022-9.165-12.022-18.066c0-9.648,4.308-18.461,12.11-18.461c8.901,0,11.758,9.824,11.758,18-->
<!--          C78.506,74.505,72.725,80.374,66.659,80.374z M66.659,50.176c-2.659,0-3.956,4.33-3.956,11.846-->
<!--          c-0.088,7.714,1.209,11.934,3.956,11.934s3.758-4.417,3.758-11.846C70.418,55.143,69.604,50.176,66.659,50.176z M37.297,37.802-->
<!--          c0-6.989-0.835-12.044-3.78-12.044c-2.659,0-3.934,4.418-3.934,11.934c-0.088,7.714,1.099,11.934,3.934,11.934-->
<!--          C36.374,49.626,37.297,45.231,37.297,37.802z"></path>-->
<!--        </svg>-->
<!--        <div class="hrhome hr1 me-4">-->
<!--          <hr style="border-width:1px;border-color:#ff9400;border-style:solid">-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-lg-6 new">-->
<!--      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="30px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">-->
<!--        <path class="path2"  d="M0,0v100h100V0H0z M71.934,81.56L50,70.022L28.066,81.56l4.198-24.418L14.506,39.824l24.527-3.56-->
<!--          L50,14.044l10.967,22.22l24.528,3.56L67.736,57.143L71.934,81.56z"></path>-->
<!--        </svg>-->
<!--      NEW ARRIVALS-->
<!--      <div class="hrhome hr2 me-4 d-none">-->
<!--        <hr style="border-width:1px;border-color:#ff9400;border-style:solid">-->
<!--      </div>   -->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="container c1">-->
<!--  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">-->
<!--    &lt;!&ndash; change 2 &ndash;&gt;-->

<!--    <div class="col" id="item1">-->
<!--      <div class="card cardBg">-->
<!--        <img src="https://www.nanotek.lk/uploads/product/1746-20220607092834-1889-20220122071610-gx202-blue-pdt1.png" class="card-img-top cardImage m-auto" alt="...">-->
<!--        <div class="card-body p-0">-->
<!--          <div class="container-fluid cardText pt-4">-->
<!--            <span class="card-text">-->
<!--              Nano-X Photograpper-->
<!--            </span>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="mx-auto ccc">- DESTOP WORKSTATION -</div>-->
<!--        <div class="mx-auto cccc">789,000 LKR</div>-->
<!--        <div class="mx-auto cbtn mt-5 mb-4 ps-2 pe-2">-->
<!--          <div id="addto" class="container p-1">-->
<!--            <div class="container plusdiv " style="height: 30px;width:30px;border-radius:50%;">-->
<!--              <img src="/images/plus.svg" class="addimg">-->
<!--            </div>-->
<!--            <div class="addtext pb-5"><b>+ </b>Add to</div> -->
<!--          </div>-->
<!--          -->
<!--        </div>-->
<!--        <div class="itemAbove"></div>-->
<!--        <div class="itemUnder"></div>-->

<!--      </div>-->
<!--    </div>-->

<!--    <div class="col" id="item2">-->
<!--      <div class="card cardBg">-->
<!--        <img src="https://www.nanotek.lk/uploads/product/1145-20220607093300-1889-20220122071610-gx202-blue-pdt1.png" class="card-img-top cardImage m-auto" alt="...">-->
<!--        <div class="card-body p-0">-->
<!--          <div class="container-fluid cardText pt-4">-->
<!--            <span class="card-text">-->
<!--              Nano-X Director-->
<!--            </span>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="mx-auto ccc">- DESTOP WORKSTATION -</div>-->
<!--        <div class="mx-auto cccc">1,100,000 LKR</div>-->
<!--        <div class="mx-auto cbtn mt-5 mb-4 ps-2 pe-2">-->
<!--          <div id="addto" class="container p-1">-->
<!--            <div class="container plusdiv " style="height: 30px;width:30px;border-radius:50%;">-->
<!--              <img src="/images/plus.svg" class="addimg">-->
<!--            </div>-->
<!--             <div class="addtext pb-5"><b>+ </b>Add to</div> -->
<!--          </div>-->
<!--          -->
<!--        </div>-->
<!--        <div class="itemAbove"></div>-->
<!--        <div class="itemUnder"></div>-->

<!--      </div>-->
<!--    </div>-->

<!--    <div class="col" id="item3">-->
<!--      <div class="card cardBg">-->
<!--        <img src="https://www.nanotek.lk/uploads/product/1147-20220524114026-1147-20211117120812-1677-20201128200234-TUF%20Gaming%20GT501%20White%20Edition-3D-4.png" class="card-img-top cardImage m-auto" alt="...">-->
<!--        <div class="card-body p-0">-->
<!--          <div class="container-fluid cardText pt-4">-->
<!--            <span class="card-text">-->
<!--              Nano X Creater PRO-->
<!--            </span>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="mx-auto ccc">- DESTOP WORKSTATION -</div>-->
<!--        <div class="mx-auto cccc">1,789,000 LKR</div>-->
<!--        <div class="mx-auto cbtn mt-5 mb-4 ps-2 pe-2">-->
<!--          <div id="addto" class="container p-1">-->
<!--            <div class="container plusdiv " style="height: 30px;width:30px;border-radius:50%;">-->
<!--              <img src="/images/plus.svg" class="addimg">-->
<!--            </div>-->
<!--             <div class="addtext pb-5"><b>+ </b>Add to</div> -->
<!--          </div>-->
<!--          -->
<!--        </div>-->
<!--        <div class="itemAbove"></div>-->
<!--        <div class="itemUnder"></div>-->

<!--      </div>-->
<!--    </div>-->





<!--  </div>-->
<!--</div>-->
<!--<div class="container c2 d-none">-->
<!--  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">-->
<!--    &lt;!&ndash; change 2 &ndash;&gt;-->

<!--    <div class="col" id="item5">-->
<!--      <div class="card cardBg">-->
<!--        <img src="https://www.nanotek.lk/uploads/product/2056-20220622074740-PS5%20PS5%20HZ.png" class="card-img-top cardImage m-auto" alt="...">-->
<!--        <div class="card-body p-0">-->
<!--          <div class="container-fluid cardText pt-4">-->
<!--            <span class="card-text">-->
<!--              Playstation<sup>R</sup>5 Console - Horizone Forbidden West<sup>TM</sup>Bundle-->
<!--            </span>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="mx-auto ccc">- CONSOLE GAMING -</div>-->
<!--        <div class="mx-auto cccc">333,000 LKR</div>-->
<!--        <div class="mx-auto cbtn mt-5 mb-4 ps-2 pe-2">-->
<!--          <div id="addto" class="container p-1">-->
<!--            <div class="container plusdiv " style="height: 30px;width:30px;border-radius:50%;">-->
<!--              <img src="/images/plus.svg" class="addimg">-->
<!--            </div>-->
<!--            <div class="addtext pb-5"><b>+ </b>Add to</div> -->
<!--          </div>-->
<!--          -->
<!--        </div>-->
<!--        <div class="itemAbove"></div>-->
<!--        <div class="itemUnder"></div>-->

<!--      </div>-->
<!--    </div>-->

<!--    <div class="col" id="item6">-->
<!--      <div class="card cardBg">-->
<!--        <img src="https://www.nanotek.lk/uploads/product/2159-20220215080406-PS5.png" class="card-img-top cardImage m-auto" alt="...">-->
<!--        <div class="card-body p-0">-->
<!--          <div class="container-fluid cardText pt-4">-->
<!--            <span class="card-text">-->
<!--              PLAYSTATION 5 STANDRD EDITON E/U CONSOLE-->
<!--            </span>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="mx-auto ccc">- CONSOLE GAMING -</div>-->
<!--        <div class="mx-auto cccc">304,000 LKR</div>-->
<!--        <div class="mx-auto cbtn mt-5 mb-4 ps-2 pe-2">-->
<!--          <div id="addto" class="container p-1">-->
<!--            <div class="container plusdiv " style="height: 30px;width:30px;border-radius:50%;">-->
<!--              <img src="/images/plus.svg" class="addimg">-->
<!--            </div>-->
<!--             <div class="addtext pb-5"><b>+ </b>Add to</div> -->
<!--          </div>-->
<!--          -->
<!--        </div>-->
<!--        <div class="itemAbove"></div>-->
<!--        <div class="itemUnder"></div>-->

<!--      </div>-->
<!--    </div>-->

<!--    <div class="col" id="item7">-->
<!--      <div class="card cardBg">-->
<!--        <img src="https://www.nanotek.lk/uploads/product/2162-20220211135301-x.png" class="card-img-top cardImage m-auto" alt="...">-->
<!--        <div class="card-body p-0">-->
<!--          <div class="container-fluid cardText pt-4">-->
<!--            <span class="card-textr">-->
<!--              X BOX Series X-->
<!--            </span>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="mx-auto ccc">- CONSOLE GAMING -</div>-->
<!--        <div class="mx-auto cccc">245,000 LKR</div>-->
<!--        <div class="mx-auto cbtn mt-5 mb-4 ps-2 pe-2">-->
<!--          <div id="addto" class="container p-1">-->
<!--            <div class="container plusdiv " style="height: 30px;width:30px;border-radius:50%;">-->
<!--              <img src="/images/plus.svg" class="addimg">-->
<!--            </div>-->
<!--             <div class="addtext pb-5"><b>+ </b>Add to</div> -->
<!--          </div>-->
<!--          -->
<!--        </div>-->
<!--        <div class="itemAbove"></div>-->
<!--        <div class="itemUnder"></div>-->

<!--      </div>-->
<!--    </div>-->


<!--  </div>-->
<!--</div>-->
<!--<div class="container-fluid" style="padding-top:100px">-->
<!--  <div class="row">-->
<!--    <div class="col-lg-4">-->
<!--      <div class="vstack gap-3 pt-3" style="background-color: #ff9400;">-->
<!--        <div class="mx-auto">-->
<!--          <svg height="100px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">&lt;!&ndash;! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. &ndash;&gt;<path d="M256-.0078C260.7-.0081 265.2 1.008 269.4 2.913L457.7 82.79C479.7 92.12 496.2 113.8 496 139.1C495.5 239.2 454.7 420.7 282.4 503.2C265.7 511.1 246.3 511.1 229.6 503.2C57.25 420.7 16.49 239.2 15.1 139.1C15.87 113.8 32.32 92.12 54.3 82.79L242.7 2.913C246.8 1.008 251.4-.0081 256-.0078V-.0078zM256 444.8C393.1 378 431.1 230.1 432 141.4L256 66.77L256 444.8z"/></svg>-->
<!--        </div>-->
<!--        <div class="mx-auto">-->
<!--          <h2>WARRANTY ASSURED</h2>-->
<!--          -->
<!--        </div>-->
<!--        <div class="mx-auto p-2">-->
<!--          In case of faulty products, we have an upstanding warranty and claim procedures to make sure that your requirements are met in minimum time loss as possible.-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


<!--    <div class="col-lg-4">-->
<!--      <div class="vstack gap-3 pt-3" style="background-color: #ff9400;">-->
<!--        <div class="mx-auto">-->
<!--          <svg height="100px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">&lt;!&ndash;! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. &ndash;&gt;<path d="M286.3 155.1C287.4 161.9 288 168.9 288 175.1C288 183.1 287.4 190.1 286.3 196.9L308.5 216.7C315.5 223 318.4 232.1 314.7 241.7C312.4 246.1 309.9 252.2 307.1 257.2L304 262.6C300.1 267.6 297.7 272.4 294.2 277.1C288.5 284.7 278.5 287.2 269.5 284.2L241.2 274.9C230.5 283.8 218.3 290.9 205 295.9L198.1 324.9C197 334.2 189.8 341.6 180.4 342.8C173.7 343.6 166.9 344 160 344C153.1 344 146.3 343.6 139.6 342.8C130.2 341.6 122.1 334.2 121 324.9L114.1 295.9C101.7 290.9 89.5 283.8 78.75 274.9L50.53 284.2C41.54 287.2 31.52 284.7 25.82 277.1C22.28 272.4 18.98 267.5 15.94 262.5L12.92 257.2C10.13 252.2 7.592 247 5.324 241.7C1.62 232.1 4.458 223 11.52 216.7L33.7 196.9C32.58 190.1 31.1 183.1 31.1 175.1C31.1 168.9 32.58 161.9 33.7 155.1L11.52 135.3C4.458 128.1 1.62 119 5.324 110.3C7.592 104.1 10.13 99.79 12.91 94.76L15.95 89.51C18.98 84.46 22.28 79.58 25.82 74.89C31.52 67.34 41.54 64.83 50.53 67.79L78.75 77.09C89.5 68.25 101.7 61.13 114.1 56.15L121 27.08C122.1 17.8 130.2 10.37 139.6 9.231C146.3 8.418 153.1 8 160 8C166.9 8 173.7 8.418 180.4 9.23C189.8 10.37 197 17.8 198.1 27.08L205 56.15C218.3 61.13 230.5 68.25 241.2 77.09L269.5 67.79C278.5 64.83 288.5 67.34 294.2 74.89C297.7 79.56 300.1 84.42 304 89.44L307.1 94.83C309.9 99.84 312.4 105 314.7 110.3C318.4 119 315.5 128.1 308.5 135.3L286.3 155.1zM160 127.1C133.5 127.1 112 149.5 112 175.1C112 202.5 133.5 223.1 160 223.1C186.5 223.1 208 202.5 208 175.1C208 149.5 186.5 127.1 160 127.1zM484.9 478.3C478.1 479.4 471.1 480 464 480C456.9 480 449.9 479.4 443.1 478.3L423.3 500.5C416.1 507.5 407 510.4 398.3 506.7C393 504.4 387.8 501.9 382.8 499.1L377.4 496C372.4 492.1 367.6 489.7 362.9 486.2C355.3 480.5 352.8 470.5 355.8 461.5L365.1 433.2C356.2 422.5 349.1 410.3 344.1 397L315.1 390.1C305.8 389 298.4 381.8 297.2 372.4C296.4 365.7 296 358.9 296 352C296 345.1 296.4 338.3 297.2 331.6C298.4 322.2 305.8 314.1 315.1 313L344.1 306.1C349.1 293.7 356.2 281.5 365.1 270.8L355.8 242.5C352.8 233.5 355.3 223.5 362.9 217.8C367.6 214.3 372.5 210.1 377.5 207.9L382.8 204.9C387.8 202.1 392.1 199.6 398.3 197.3C407 193.6 416.1 196.5 423.3 203.5L443.1 225.7C449.9 224.6 456.9 224 464 224C471.1 224 478.1 224.6 484.9 225.7L504.7 203.5C511 196.5 520.1 193.6 529.7 197.3C535 199.6 540.2 202.1 545.2 204.9L550.5 207.9C555.5 210.1 560.4 214.3 565.1 217.8C572.7 223.5 575.2 233.5 572.2 242.5L562.9 270.8C571.8 281.5 578.9 293.7 583.9 306.1L612.9 313C622.2 314.1 629.6 322.2 630.8 331.6C631.6 338.3 632 345.1 632 352C632 358.9 631.6 365.7 630.8 372.4C629.6 381.8 622.2 389 612.9 390.1L583.9 397C578.9 410.3 571.8 422.5 562.9 433.2L572.2 461.5C575.2 470.5 572.7 480.5 565.1 486.2C560.4 489.7 555.6 492.1 550.6 496L545.2 499.1C540.2 501.9 534.1 504.4 529.7 506.7C520.1 510.4 511 507.5 504.7 500.5L484.9 478.3zM512 352C512 325.5 490.5 304 464 304C437.5 304 416 325.5 416 352C416 378.5 437.5 400 464 400C490.5 400 512 378.5 512 352z"/></svg>-->
<!--        </div>-->
<!--        <div class="mx-auto">-->
<!--          <h2>CUSTOM ORDERS</h2>-->
<!--        </div>-->
<!--        <div class="mx-auto p-2">-->
<!--          In case your requirements supersedes what the local market has to offer, we will provide you with assistance to meet these requirements.-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


<!--    <div class="col-lg-4">-->
<!--      <div class="vstack gap-3 pt-3" style="background-color: #ff9400;">-->
<!--        <div class="mx-auto">-->
<!--          <svg height="100px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">&lt;!&ndash;! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. &ndash;&gt;<path d="M368 0C394.5 0 416 21.49 416 48V96H466.7C483.7 96 499.1 102.7 512 114.7L589.3 192C601.3 204 608 220.3 608 237.3V352C625.7 352 640 366.3 640 384C640 401.7 625.7 416 608 416H576C576 469 533 512 480 512C426.1 512 384 469 384 416H256C256 469 213 512 160 512C106.1 512 64 469 64 416H48C21.49 416 0 394.5 0 368V48C0 21.49 21.49 0 48 0H368zM416 160V256H544V237.3L466.7 160H416zM160 368C133.5 368 112 389.5 112 416C112 442.5 133.5 464 160 464C186.5 464 208 442.5 208 416C208 389.5 186.5 368 160 368zM480 464C506.5 464 528 442.5 528 416C528 389.5 506.5 368 480 368C453.5 368 432 389.5 432 416C432 442.5 453.5 464 480 464z"/></svg>-->
<!--        </div>-->
<!--        <div class="mx-auto">-->
<!--          <h2>HOME DELIVERY</h2>-->
<!--        </div>-->
<!--        <div class="mx-auto p-2">-->
<!--          To further facilitate your access to your needs, we offer to deliver to meet your requirements straight to where you live within Sri Lankan borders.-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->




<%- include("footer") -%>
