<%-include("header") -%> 


<div class="container-fluid" id="homeDescription">
    <div class="row">
        <div class="col-md-6">
            <p id="smallDesctiption">We Are Here For Your Care</p>
            <h1>Patient Assisting Bed</h1>
            <p style="margin-top: 20px">We care your health by always try to provide maximum<br>
              comfort and monitor your critical health factors by our specialist doctors.
              Your health is the most valuable thing for us.<br><br><b>WE CARE YOU ALWAYS!</b> </p>
        </div>
        <div class="col-md-6">
          <img src="images/pab.png" alt="bed" id="bed">
        </div>
    </div>
    <hr>
</div>



<%- include("footer") -%>
