<%- include("header")  -%>

<span class="cTitle ps-3">
  <%= current %>
</span>
<!-- <button type="button" class="btn btn-outline-secondary"></button> -->

<div id="linechart_material"></div>


<%- include("footer") -%>