<%- include("header")  -%>

<span class="cTitle ps-5"><%= title %> </span>
<!-- <button type="button" class="btn btn-outline-secondary"></button> -->

<div class="container-fluid ps-4">
  <div class="row">
    <div class="col-md-2 customwidth2">
      <div class="pt-4">
        <span class="rtext pb-3">PRICE</span>

        <span class="ptext d-block ">
          <span class="out1">0</span> LKR - <span class="out2">0</span> LKR
        </span>
        <section class="range-slider">
          <!-- <span class="output outputOne"></span>
            <span class="output outputTwo"></span> -->
          <span class="full-range"></span>
          <span class="incl-range"></span>
          <input name="rangeOne" value="10" min="0" max="100" step="1" type="range">
          <input name="rangeTwo" value="90" min="0" max="100" step="1" type="range">
        </section>

        <div class="container-fluid pt-3 pb-1 ps-0">
          <span class="atext">AVAILABILITY</span>
        </div>



        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label d-block stext" for="exampleCheck1">IN STOCK</label>
          <input type="checkbox" class="form-check-input" id="exampleCheck2">
          <label class="form-check-label d-block stext" for="exampleCheck2">OUT OF STOCK</label>
        </div>

        <div class="container-fluid pt-3 pb-1 ps-0">
          <span class="atext">TYPE</span>
        </div>

        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label d-block stext" for="exampleCheck1">HUB</label>
          <input type="checkbox" class="form-check-input" id="exampleCheck2">
          <label class="form-check-label d-block stext" for="exampleCheck2">KEYBOARDS</label>
          <input type="checkbox" class="form-check-input" id="exampleCheck3">
          <label class="form-check-label d-block stext" for="exampleCheck3">MACBOOK AIR</label>
          <input type="checkbox" class="form-check-input" id="exampleCheck4">
          <label class="form-check-label d-block stext" for="exampleCheck4">MACBOOK PRO</label>
          <input type="checkbox" class="form-check-input" id="exampleCheck4">
          <label class="form-check-label d-block stext" for="exampleCheck4">MOUSE</label>
        </div>

      </div>
    </div>

    <div class="col-md-10 no-pad xxxx">
      

      

      <div class="container">
        <div class="row">
          <div class="col-1 customwidth">
            <!-- vr -->
            <div class="vr" style="width:2px;color:#ff9400;opacity:1;height:1600px;"></div>
          </div>
          <div class="col-11 itemBody">
            <!-- items -->
            <div class="container">
              <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
                <div class="col">
                  <div class="card cardBg">
                    <img src="https://www.nanotek.lk/uploads/product/2010-20210911142048-pro.png" class="card-img-top cardImage m-auto" alt="...">
                    <div class="card-body p-0">
                      <div class="container-fluid cardText pt-4">
                        <span class="card-text">
                          Apple Macbook Pro 13" with Apple M1 Chip 512GB
                        </span>
                      </div>
                    </div>
                    <div class="mx-auto ccc">- APPLE PRODUCTS -</div>
                    <div class="mx-auto cbtn mt-5 mb-4 ps-2 pe-2">
                      <div id="addto" class="container p-1">
                        <div class="container plusdiv " style="height: 30px;width:30px;border-radius:50%;">
                          <img src="/images/plus.svg" class="addimg">
                        </div>
                         <div class="addtext pb-5"><b>+ </b>Add to</div> 
                      </div>
                      
                    </div>
                    <div class="itemAbove"></div>
                    <div class="itemUnder"></div>

                  </div>
                </div>
                <div class="col">
                  <div class="card cardBg">
                    <img src="https://www.nanotek.lk/uploads/product/2010-20210911142048-pro.png" class="card-img-top cardImage m-auto" alt="...">
                    <div class="card-body">
                      <h5 class="card-text cardText">
                        Apple Macbook Pro 13" with Apple M1 Chip 512GB
                      </h5>
                    </div>
                    

                  </div>
                </div>
                <div class="col">
                  <div class="card cardBg">
                    <img src="https://www.nanotek.lk/uploads/product/2010-20210911142048-pro.png" class="card-img-top cardImage m-auto" alt="...">
                    <div class="card-body">
                      <h5 class="card-text cardText">
                        Apple Macbook Pro 13" with Apple M1 Chip 512GB
                      </h5>
                    </div>
                    

                  </div>
                </div>
                <div class="col">
                  <div class="card cardBg">
                    <img src="https://www.nanotek.lk/uploads/product/2010-20210911142048-pro.png" class="card-img-top cardImage m-auto" alt="...">
                    <div class="card-body">
                      <h5 class="card-text cardText">
                        Apple Macbook Pro 13" with Apple M1 Chip 512GB
                      </h5>
                    </div>
                    

                  </div>
                </div>
                <div class="col">
                  <div class="card cardBg">
                    <img src="https://www.nanotek.lk/uploads/product/2010-20210911142048-pro.png" class="card-img-top cardImage m-auto" alt="...">
                    <div class="card-body">
                      <h5 class="card-text cardText">
                        Apple Macbook Pro 13" with Apple M1 Chip 512GB
                      </h5>
                    </div>
                    

                  </div>
                </div>
                <div class="col">
                  <div class="card cardBg">
                    <img src="https://www.nanotek.lk/uploads/product/2010-20210911142048-pro.png" class="card-img-top cardImage m-auto" alt="...">
                    <div class="card-body">
                      <h5 class="card-text cardText">
                        Apple Macbook Pro 13" with Apple M1 Chip 512GB
                      </h5>
                    </div>
                    

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>





    </div>
  </div>
</div>


<%- include("footer") -%>