<%- include("header")  -%>

<span class="cTitle"><%= title %> </span>
<button type="button" class="btn btn-outline-secondary"></button>

<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        Column
      </div>
      <div class="col-md-5">
        Column
      </div>
      <div class="col-md-5">
        Column
      </div>
    </div>
  </div>


<%- include("footer") -%>