.range-slider {
    position: relative;
    width: 200px;
    height: 35px;
    text-align: center;
}

.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 15px;
    width: 200px;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
}

.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}

.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}

.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
}

.rangeValue {
  width: 30px;
}

.output {
  position: absolute;
  border:1px solid #999;
  width: 40px;
  height: 30px;
  text-align: center;
  color: #999;
  border-radius: 4px;
  display: inline-block;
  font: bold 15px/30px Helvetica, Arial;
  bottom: 75%;
  left: 50%;
  transform: translate(-50%, 0);
}

.output.outputTwo {
  left: 100%;
}

.containerRange {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

input[type=range] {
  -webkit-appearance: none;
  background: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  border: none;
  border-radius: 3px;
  background: transparent;
}

input[type=range]::-ms-track {
  height: 5px;
  background: transparent;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-track {
  height: 5px;
  background: transparent;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(110, 109, 109);
  height: 16px;
  width: 16px;
  border-radius: 20%;
  background: rgb(235, 228, 228);
  margin-top: -5px;
  position: relative;
  z-index: 10000;
}

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative;
  z-index: 10000;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative;
  z-index: 10000;
}

input[type=range]:focus {
  outline: none;
}

.full-range,
.incl-range {
  width: 100%;
  height: 5px;
  left: 0;
  top: 21px;
  position: absolute;
  background: #DDD;
}

.incl-range {
  background: #e3e3e3;
}

/* custom css for src= https://www.sliderrevolution.com/resources/css-range-slider/ */

.rtext{
    color: #a9a9a9;
    font-weight: 700;
}
.ptext{
    color: #ff9400;
    font-size: 12px;
    font-weight: 600;
}
.atext{
    font-size: 18px;
    color: #a9a9a9;
    margin-top: 20px;
    padding-left: 0%;
}
.stext{
    color: #a9a9a9;
    font-weight: 700;
    font-size: 17px;
}
input[type="checkbox"]:checked{
    background-color: #ff9400;
    border-color: #ff9400;
}
.range-slider{
  width: 100px;
}
.range-slider input{
  width: inherit;
}

/* card css */
.customwidth{
    width: 0.1%;
    padding-left: 0%;
    padding-right: 0%;

}
.cardImage{
    width: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.cardBg{
    background-color: transparent;
    border: #4b4a48 solid 5px;
    border-radius: 0%;
}
.cardText{
    color:aliceblue;
    height: 80px;
    font-family: 'PT Sans', sans-serif;
    font-size: 0.95rem;
    font-weight: 600;
    background-color: #4b4a48;
    transition: all 1s ease;
}
.itemBody{
    width: 99.5%;
}
/* cutom width for filter */
.customwidth2{
  width: 12%;
}
/* custom width for item */
.xxxx{
  width: 88%;
}

.itemAbove{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}
.itemUnder{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  z-index: -1;
  overflow: hidden;
  transition: all 0.3s ease;
  
}
.itemUnderBg{
  background-color: #ff9400;
  border-radius: 0%;
  transform:translate(-50%, -50%) scale(10, 10);
}

.ccc{
  color: #ff9400;
  font-size: 1.2rem;
}
.addimg{
  margin-right: 10px;
  height: 12px;
  position: relative;
  right:2px;
  display: none;  
  
}
#addto{
  height: 30px;
  position: relative;
  background-color: transparent;
  z-index: 3;
  transition: height 1s ease;
}
.addtext{
  position: relative;
  bottom: 3px;
  display: none;
  color: #ff9400;
  font-size: 15px;
  font-weight: 600;
  padding-right: 5px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.dd{
  transition: all 0.5s ease;
  display: inline;
}
.dd::before{
  content: "";
  width: 20px;
  border-radius: 50%;
  background-color: black;
}
.plusdiv{
  background-color: transparent;
  position: relative;
  bottom: 3px;
}
.gbgb{
  transition: all 0.5s ease;
  transform: scale(1.1,1.1);
}
.nope{}
