/* css by sudeera */
.condition{
    background-color: #ff9400;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: black;
}
.stitle{
    font-size: 2.2rem;
    color: #ff9400;
}

#linechart_material1, #linechart_material2, #linechart_material3{
    border:5px solid #ff9400;
    width: 1000px;
    height:500px;
    margin-top: 30px;
}
