/* css by janith */
body{
    background-image: url("/images/gameBg.jpg");
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-color: rgb(28,28,28);
    background-size: 70%;
    
}
.body{
    background-color: rgba(37, 37, 36, 0.7);

}


#logo{
    width: 230px;
}
.carousel-indicators li {
    list-style-type: circle;
  }
.navbar-text{
    color:#ff9400!important;
    font-weight: 600;
    font-size:17px;
    font-family: 'PT Sans', sans-serif;
}
.navx{
    padding: 10px;  
}
.navx:hover{
    background-color: #ff9400;
    color: #242323;
}
.build{
    height:80px;
    width: 255px;
    background-color: #242323;
    margin-top: 0px!important;
    position: relative;
    bottom: 24px;
    
}
.build-img{
    position: relative;
    top:7px;
    right:3px;

    
}
.build-contain{
    border-radius: 100%;
    margin-right: 0px;
    margin-top: 10px;

}
.search{
    height:80px;
    width: 45px;
    background-color: rgb(231, 144, 31);
    margin-top: 0px!important;
    position: relative;
    bottom: 24px;
}
.pleft{
    padding-right: 0px;
}
button{
    border-color: #242323;
    border-style: solid 
}
.category{
    width: 280px;
    background-color: #4b4a48;
    transition:transform 0.2s;
    max-height: 100px;
    border-radius: 3px;
    color:#a5a4a3;
}
.category:hover{
    transform: scale(1.08,1.08);
    background-color: #ff9400;
    color: #242323;
}
/* for long cat */
/* .categoryx{
    width: 280px;
    height:65px;
    background-color: #4b4a48;
    margin-bottom:5px;
}
.categoryxx{
    width: 280px;
    height:85px;
    background-color: #4b4a48;
    margin-bottom:5px;
} */
.cat-image{
    width: 45px;

}
.xx{
    padding-left:0px
}

.cname{

    font-size: 16px;
    font-weight:700;
    font-family: 'PT Sans', sans-serif;
}
.footer{
    height: 60px;
    background-color: #4b4a48;
}
.f1{
   height:60px; 
   padding-top:15px;
   font-size: 14px;
   color:#848383;
   font-weight:300;
   font-family: 'PT Sans', sans-serif;
   padding-left:5px;
}
.link{
    color: #848383;
}
.f2{
    font-size: 16px;
    color:#848383;
    font-weight:500;
    font-family: 'PT Sans', sans-serif;
    color:#a5a4a3;

}

.vr{
    width: 2px;
    height: 30px;
    background-color: #a5a4a3;
}
.aboutImage{
    width:100%;
    padding: 0;
    height: 300px;
    object-fit: cover;
}
.no-pad{
    padding: 0%;
}
/* css by sharhan */

.aboutText{
    font-family: 'PT Sans', sans-serif;
    color:#ffff;
    font-weight: 550;
}
.about{
    font-family: 'PT Sans', sans-serif;
    color:#a5a4a3;

}
.xxx{
    padding-right: 0%;
}

/* ishara */
.carousel-indicators li {
    list-style-type: circle;
  }
  .carousel-indicators li {
    list-style-type: circle;
    border-radius: 50%;
  }
  .carousel-indicators > li {
    border-radius: 50%;
  }

  .slider{
    width: 300px;
    float: left;
    align-items: center;

  }

  .col-sm-5{
    color: aliceblue;
    float: right 100%;
  }

  .col-sm-7{

  }

  .carousel-inner{
    border-bottom: 3px solid #4b4a48;
    
    
  }
  .container{
    float: right;
  }


  ul.tab {
    list-style-type: none;
    margin-left: 20%;
    padding: 0;
    overflow: hidden;
    
    
}

/* Float the list items side by side */
ul.tab li {margin-left: 2%;
    display: inline-block;
}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: #a9a9a9;
    text-align: center;
    padding: 7px 7px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 45px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    color: #ff9400;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
   
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #a9a9a9;
    font-size: 40px;
    float: right;
    color: #ff9400;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }







.container1{
    background-color: #ff9400;
    
   


}
.details{
    align-items: center;
    padding-left: 50px;
}


.column {
    float: left;
    width: 350px;
    background-color: #ff9400;
    margin-left: 5px;
    height: 300px;
    padding-left: 30px;
    padding-right: 50px;
  }
  
  .part1{
    float: right;
    margin-right: 5px;
    margin-bottom: 10px;
  }
  /* Clear floats after the columns */
  .part1:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .container1 h4{
    padding-left: 50px;
  }

  .important ul li{
    display: inline-block;
    float: right;
    margin-right: 100px;
  }
