/* css by janith */
body {
    



}
.bodybg{
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-color: rgb(28, 28, 28);
    background-size: 70%;
    /*background-image: url("/images/gameBg.jpg");*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2800px;
    z-index: -2;

}
.bodyx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2800px;
    z-index: -1;
    background-color: rgba(37, 37, 36, 0.7);
}



.body {
 
    min-height: 1000px;
    
}


#logo {
    width: 100px;
}

.navbar-text {
    color: #ff9400 !important;
    font-weight: 600;
    font-size: 17px;
    font-family: 'PT Sans', sans-serif;
}

.navx {
    padding: 10px;
}

.navx:hover {
    background-color: #ff9400;
    color: #242323;
}

.build {
    height: 80px;
    width: 255px;
    background-color: #242323;
    margin-top: 0px !important;
    position: relative;
    bottom: 24px;

}

.build-img {
    position: relative;
    top: 7px;
    right: 3px;

}

.build-contain {
    border-radius: 100%;
    margin-right: 0px;
    margin-top: 10px;

}

.search {
    height: 80px;
    width: 45px;
    background-color: rgb(231, 144, 31);
    margin-top: 0px !important;
    position: relative;
    bottom: 24px;
}

.pleft {
    padding-right: 0px;
}

button {
    border-color: #242323;
    border-style: solid
}

.category {
    /* max-width: 300px; */
    background-color: #4b4a48;
    transition: transform 0.2s;
    max-height: 100px;
    border-radius: 3px;
    color: #a5a4a3;
}

.category:hover {
    transform: scale(1.08, 1.08);
    background-color: #ff9400;
    color: #242323;
    filter: drop-shadow(16px 16px 10px black);
}


.cat-image {
    width: 45px;

}

.xx {
    padding-left: 0px;
    padding-right: 0%;
    max-width: 180px;
}


.cname {

    font-size: 16px;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
}

.footer {
    height: 60px;
    background-color: #4b4a48;
    position: absolute;
    z-index: -1;
    top: 2800px;
}
@media screen and (max-width: 780px) {
    .footer {
        top: 4250px;
        height: 140px;
    }
    .bodybg, .bodyx{
        height: 4250px;
    }
}

.f1 {
    height: 60px;
    padding-top: 15px;
    font-size: 14px;
    color: #848383;
    font-weight: 300;
    font-family: 'PT Sans', sans-serif;
    padding-left: 5px;
}

.link {
    color: #848383;
}

.f2 {
    font-size: 16px;
    color: #848383;
    font-weight: 500;
    font-family: 'PT Sans', sans-serif;
    color: #a5a4a3;

}

.vrx {
    width: 2px;
    height: 30px;
    background-color: #a5a4a3;
}

.aboutImage {
    width: 100%;
    padding: 0;
    height: 300px;
    object-fit: cover;
}

.no-pad {
    padding: 0%;
}

/* css by sharhan */

.aboutText {
    font-family: 'PT Sans', sans-serif;
    color: #ffff;
    font-weight: 550;
}

.about {
    font-family: 'PT Sans', sans-serif;
    color: #a5a4a3;

}

.xxx {
    padding-right: 0%;
}

.togbutton {
    background-color: transparent;
    border: inherit;
    font-family: inherit;
}
.togbutton:hover{
    color:black;
    background-color: #ff9400!important;
}
.call1{
    min-width: 200px;
    text-decoration: none;
    color: aliceblue;
}
.call1:hover{
    color: aliceblue;
}
.call2{
    background-color: #181717;
    height: 50px;
    color: #7f7f7f;
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
}
.num2{
    color: aliceblue;

}

@media screen and (max-width: 1345px) {
    .certificate {
        display: none;
    }
}

@media screen and (min-width: 1345px) {
    .certificate2 {
        display: none;
    }
}

@media screen and (max-width: 1345px) {
    .certificate2 {
        display: block;
    }
}




@media screen and (max-width: 1200px) {
    .call2 {
        display: block;
    }
}
@media screen and (min-width: 1200px) {
    .call2 {
        display: none;
    }
}
@media screen and (max-width: 1200px) {
    .call1 {
        display: none;
    }
}
.col-md-6-custom{
    max-width: 98%;
}
@media screen and (max-width: 992px) {
    .offcanvasx {
        width: 40%!important;
        background-color: #1c1c1c;
    }
}
.offcanvas-lg{
    --bs-offcanvas-padding-x: 0rem;
    --bs-offcanvas-padding-y: 0.5rem;
}
.cTitle{
    font-size: 3rem;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color:aliceblue ;
}

/* ishara */
.carousel-indicators li {
    list-style-type: circle;
}

.carousel-indicators li {
    list-style-type: circle;
    border-radius: 50%;
}

.carousel-indicators>li {
    border-radius: 50%;
}

.slider {
    width: 300px;
    float: left;
    align-items: center;

}

.col-sm-7 {
    color: aliceblue;
    float: right 100%;
}

.col-sm-7 {}

.carousel-inner {
    border-bottom: 3px solid #4b4a48;
}



.ul.tab {
    list-style-type: none;
    margin-left: 20%;
    padding: 0;
    overflow: hidden;


}
#afterTiny{
    display: none;
}
@media screen and (max-width: 1200px) {
    #afterTiny{
        display: flex;
        position: absolute;
        z-index: 1;
        flex-direction: column;
    
    }
}
@media screen and (max-width: 1200px) {
    #beforeTiny{
        display: none;
    }
}


/* Float the list items side by side */
ul.tab li {
    margin-left: 2%;
    display: inline-block;
}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: #a9a9a9;
    text-align: center;
    padding: 7px 7px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 45px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    color: #ff9400;
}

/* Create an active/current tablink class */
ul.tab li a:focus,
.active {}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    font-size: 40px;
    float: right;
    color: #ff9400;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}







.container1 {
    background-color: #ff9400;




}

.details {
    align-items: center;
    padding-left: 50px;
}


.column {
    float: left;
    width: 350px;
    background-color: #ff9400;
    margin-left: 5px;
    height: 300px;
    padding-left: 30px;
    padding-right: 50px;
}

.part1 {
    float: right;
    margin-right: 5px;
    margin-bottom: 10px;
}

/* Clear floats after the columns */
.part1:after {
    content: "";
    display: table;
    clear: both;
}

.container1 h4 {
    padding-left: 50px;
}

.important ul li {
    display: inline-block;
    float: right;
    margin-right: 100px;
}

/* .ci{
    width: 70%;
  } */
.gg {
    padding-top: 70px;
}

.offersContainer{
    width:55%;
    font-size: 2.3rem;
    font-weight: 600;
    font-family: 'PT Sans', sans-serif;;
}
.offer{
    color: #ff9400;
}
.new{
    color:#4b4a48;
}
.hrhome{
    position: relative;
    background-color: #ff9400;
    right: 10px;

}
.act{
    color: #ff9400;
}
.noact{
    color:#4b4a48;
}
.brand-name{
    text-decoration: none;
    color: #ff9400;
    font-weight: lighter;
}